<div class="container">
  <div class="jumbotron">
    <h1>Register</h1>
    <p class="lead">You're just two steps away from creating labels!</p>
    <hr/>
    <div class="row">
      <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-header">1. Create an account</div>
        <div class="card-body text-secondary">
          <h4 class="card-title">Provide an email and password</h4>
          <p class="card-text">We use your PackageWith.me account to store the link you create with Etsy. When you log in with your account, we get get your sales reciepts right away.</p>
        </div>
      </div>

      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">2.Link your account to Etsy</div>
        <div class="card-body text-primary">
          <h4 class="card-title">Make the magic happen</h4>
          <p class="card-text">We need to get permission to read your sales reciepts from Etsy. This is only ever used for generating reciepts.</p>
        </div>
      </div>
    </div>
  </div>

  <%= link_to 'Login with Etsy', :auth_login %>
</div>