<div class="container">
  <div class="jumbotron">
    <h1>Make packaging your orders a breeze</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam omnis, maxime libero natus qui minus!</p>
    <%= link_to 'Register »', :sign_up, class: 'btn btn-lg btn-primary', role: 'button' %>
  </div>
</div>